* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Russo One", sans-serif;
  font-style: normal;

  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-family: "Rubik Scribble", system-ui;
  font-style: normal;

  font-family: "Alegreya Sans SC", sans-serif;
  font-style: normal;

  --dark-grey-color: #2c2c2c;
  --dark-dark-grey-color: rgb(35, 35, 35);
  --main-color: rgb(255, 171, 4);
  /* --main-color: rgb(245, 255, 58); */
  --light-main-color: #ff9900;
  --main-60-color: rgba(255, 138, 17, 0.6);
  --white-color: rgb(240, 240, 240);
  --red-color: rgb(242, 68, 68);

  font-size: 20px;
}
#__nuxt {
  width: 100%;
}

h1 {
  color: white;
  font-size: 30px;
  user-select: none;
}

h2 {
  color: white;
  font-size: 20px;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--dark-dark-grey-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1px;
  border: 3px solid var(--dark-dark-grey-color);
}
@media screen and (min-width: 500px) {
  #__nuxt {
    height: 100%;
  }
  body {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}
